body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input#messageText {
  float:left;
}

button#sendButton {
  width: 100%;
  height: 100%;
}

div.message-area {
  margin-top: 4em;
  margin-bottom: 8em;
}

#username {
  float: right;
}

div.main-area {
  background-color: #FCFCFC;
}

div.message {
  background-color: #E5E5EA;
  margin: 5px;
  padding: 10px;
  border-radius: 12px;
  float:left;
  max-width: 70%;
  min-width: 30%;
}

div.message.ownMessage {
  background: radial-gradient(circle, #4EBDFA, #2297FD);
  float:right;
  color: white;
}

div.messageText {
  font-size: 14pt;
  overflow: hidden;
}

div.ownMessage div.coords {
  color: #FFFFFF;
}

div.ownMessage div.userName {
  color: #FFFFFF;
}

div.userName {
  font-weight: bold;
  padding-bottom: 5px;
  color: #777777;
}

div.coords {
  color: #999999;
}



.messageTime {
  font-size: 10pt;
  font-style: italic;
  float: right;
  color: #AAAAAA;
  margin-left: 20px;
}

.ownMessage .messageTime{
  color: #FFFFFF;
}

.fixedTop {
  z-index: 9999;
  position: fixed;
  top: 0;
  background-color: #cccccc;
}

div.headerText {
  padding: 5px 25px;
  font-weight: bold;
  font-size: 16pt;
}

.fixedBottom {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  background-color: #cccccc;
  padding: 10px;
}

.container {
  padding: 0;
}

div#map {
  width: 100%;
  height: 400px;
}